cell
{
    margin: 0;
    width: 0.5vw;
    height: 1vh;
    background-color: rgb(0, 0, 0);
    border: 0px solid rgb(5, 9, 5);
}
.current{
    background-color: azure;
}
.currentapple
{
    background-color: crimson;
}
row
{
    display: flex;
}
#game
{

}